
html,
body {
	/* https://css-tricks.com/couple-takes-sticky-footer/ */
	height: 70%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
}

/* For sticky footer - grow to fill the space */
.content {
	flex: 1 0 auto;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow: none;
	padding: 10px;
}

.app-header {
	background: #cc0000;
	box-shadow: 3px 3px 10px #888888;
}

.app-header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
 justify-content: space-between; 
	justify-content: center;
	padding: 15px 10px;
}

.app-header .logo {
	width: 170px;
	margin-bottom: 16px;
}

.app-header input{
	padding: 7px;
	border: #777;
	width: 300px;
	border-radius: 3px;
}

.subheader {
	background: #7c0000;
	color: #fff;
	box-shadow: 3px 3px 10px #888;
	font-size: 14px;
	padding: 10px;
	width: 90%;
	margin: 0 auto 16px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.subheader p {
	margin: 4px;
}

.subheader img {
	width: 40px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}
.grid .item {
	display: flex;
	flex-direction: column;
	border: 1px #ccc solid;
	padding: 10px;
	box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4 {
	margin-bottom: 5px;
}

.grid .item p {
	font-size: 14px;
	color:  #7c0000;
	font-weight: bold;
	margin-bottom: 20px;
}

.grid .item img {
	width: 30px;
	text-align: right;
	display: block;
	align-self: flex-end;
}

.app-footer {
	flex-shrink: 0;
	background: #f4f4f4;
	color: #444;
	padding: 10px;
	font-size: 14px;
	margin-top: 100px;
	cursor: pointer;
}
.app-footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.app-footer ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-footer ul li i {
	font-size: 22px;
}
.app-footer ul li i:hover{
	color: grey;
}

/* Desktop */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid .item img {
		width: 60px;
	}
}
